body {
  font-family: monospace;
  text-align: center;
  margin: 5px auto;
  background: black;
  color: white;
}

.container {
  height:600px;
  width:800px;
  margin: auto;
  background: lavender;
  position: relative;
}
.building {
  height: 300px;
  width: 100px;
  position: absolute;
  bottom: 0;
  background: lightsteelblue;
}
#house {
  /* background: darkseagreen; */
  right: 0;
}

#player {
  height:100px;
  width:50px;
  position: absolute;
  bottom: 0;
  left: 50px;
  background: darkslateblue;
}

.tool {
  height:50px;
  width:50px;
  background: red;
  border-radius: 50%;
  position: absolute;
}

#tool1 {
  left: 250px;
  background-color: red;
}

#tool2 {
  left: 350px;
  background-color: blue;
}

#tool3 {
  left: 450px;
  background-color: green;
}


.btn-container {
  text-align: center;
}

#btn {
  font-size: 1.5em;
  padding:.5em 1.5em;
  margin: .5em;
  background: none;
  border-radius: 1.5em;
  border: 2px solid #999;
  color:#999;
  transition: .2s;
  outline: none;
}
#btn:hover {
  background: #999;
  color: white;
  border: 2px solid #999;
}
#btn:active {
  background: #666;
  color: white;
  border: 2px solid #666;
}
